<div class="game-details-panel" fxFlexFill fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="15" fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
            <input matInput placeholder="Game Name" [(ngModel)]="this.gameService.saveFile.name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last Save" disabled [ngModel]="this.gameService.saveFile.lastSave | date:'short'">
        </mat-form-field>
        <button mat-raised-button (click)="onSave()">Save</button>
        <button mat-raised-button (click)="onShowFile()">Show File</button>
        <button mat-raised-button (click)="onRestart()">Restart</button>
    </div>
    <div fxFlex="15" fxLayout="column" fxLayoutGap="10px">
        <button mat-raised-button (click)="onClear()">Clear Map</button>
        <button mat-raised-button (click)="onGenerateWater()">Generate Water</button>
        <button mat-raised-button (click)="onGenerateBorders()">Generate Borders</button>
        <button mat-raised-button (click)="onGenerateArea()">Generate Area</button>
        <button mat-raised-button (click)="onRegenerate()">Regenerate Map</button>
    </div>
    <div fxFlex="15" fxLayout="column" fxLayoutAlign="end end">
        <div>Version: {{version}}</div>
        <div>Build Date: {{date}}</div>
    </div>
</div>
